@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-dark: #393E41;
    --color-light: #F6F7EB;
    --color-danger: #B3001B;
    --color-success: #698F3F;
    --color-primary: #3F88C5;
    --color-secondary: #E94F37;
    --font-sans: 'Ubuntu', ui-sans-serif, system-ui, sans-serif;
}
